header {
    padding: 5px;
    background-color: black;
    color: white;
}
.gap-basic{
    gap: 5px;
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

li.no-decoration {
    list-style: none;
}

a.no-decoration {
    text-decoration: none;
}

.btn{
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 1px 1px ;
}

.hover-yellow:hover {
    color: yellow;
}
.logo {
    height: 50px;
    width: auto;
    object-fit: contain;
    display: block;
}
button.login-btn {
    background-color: #bd3d0e;
    color: #333;
}